{%extends 'base.html'%}



{%block breadcrumb%}
{%block title%}
ABOUT
{%endblock%}
{%endblock%}

{%block content%}
<section class="hand-crafted py-5">
    <div class="container">
        <div class="inner-sec py-md-5 px-lg-5">
            <h3 class="tittle text-center"><span class="sub-tittle">About.</span> Welcome To Our Website</h3>
            <p class="mb-4 text-center px-lg-4"> Bootie is a shoe store that was established in 1997. This is our official wesite . We primarily deal with thre e shoe brands , they are Nike, Adidas and Puma. customer satisfaction is our number one priority</p>
        </div>
    </div>
</section>
<!-- //ab -->
<!--/ab -->
<section class="about py-md-5 py-5">
    <div class="container py-md-3">
        <h3 class="tittle text-center">What We Offer</h3>
        <div class="feature-grids row">
            <div class="col-md-4 gd-bottom mt-lg-4">
                <div class="bottom-gd p-lg-5 p-4">
                    <span class="fa fa-truck" aria-hidden="true"></span>
                    <h3 class="my-3">
                        FREE SHIPPING</h3>
                    <p>We provide free shipping on orders above $100 in the Unites States.</p>
                </div>
            </div>
            <div class="col-md-4 gd-bottom mt-lg-4">
                <div class="bottom-gd2-active p-lg-5 p-4">
                    <span class="fa fa-bullhorn" aria-hidden="true"></span>
                    <h3 class="my-3">FREE RETURN</h3>
                    <p>If you are not satisfied with your order you can return it within 7 days of delivery.</p>
                </div>
            </div>
            <div class="col-md-4 gd-bottom mt-lg-4">
                <div class="bottom-gd p-lg-5 p-4">
                    <span class="fa fa-gift" aria-hidden="true"></span>
                    <h3 class="my-3">MEMBER DISCOUNT</h3>
                    <p>special member discount available to people who have subscribed to our prime membership.</p>
                </div>
            </div>

        </div>
    </div>
</section>
{%endblock%}