{%extends 'base.html'%}



{%block breadcrumb%}
{%block title%}
hello
{%endblock%}
{%endblock%}

{%block content%}
product
<div class="row">
    <div class="col-lg-5 col-md-8 single-right-left ">
        <div class="grid images_3_of_2">
            <div class="flexslider">
                <ul class="slides">
                    <li data-thumb="images/si1.jpg">
                        <div class="thumb-image">
                            <img src="images/si1.jpg" data-imagezoom="true" class="img-fluid" alt=""> </div>
                    </li>
                    <li data-thumb="images/si2.jpg">
                        <div class="thumb-image">
                            <img src="images/si2.jpg" data-imagezoom="true" class="img-fluid" alt=""> </div>
                    </li>
                    <li data-thumb="images/si3.jpg">
                        <div class="thumb-image">
                            <img src="images/si3.jpg" data-imagezoom="true" class="img-fluid" alt=""> </div>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

{%endblock%}